In [1]:
10

10

In [5]:
10

10

In [7]:
print('hello variablz')

hello variablz

In [8]:
# give input - words
input("Enter any word:")

'janani'

In [9]:
#give input - Words
input("Enter any number:")

'10'

In [10]:
# get Multiple inputs
input ("Enter First Name:")
input ("Enter Last Name:")

'janani'

In [14]:
firstname= input("Enter first name:")
lastname= input("Enter last name:")
firstname
lastname

'geetha'

In [15]:
firstname

'janani'

In [9]:
x=100
name= 'janani'
x
name

'janani'

In [18]:

#display output
print("janani")
name=input("Enter name")
print (name)

janani
jananidurga

In [24]:
firstname=input("Enter First name:")
lastname=input("enter last name:")
print(firstname+lastname)
print(firstname, lastname)

jananijananidurga
janani jananidurga

In [25]:
#sum of two types
number1= input("Enter number 1:")
number2=input("Enter number 2:")
total=number1 = number2
print(total)

1245

In [26]:
#string in single quote
'variablz acadamy'

'variablz acadamy'

In [27]:
#string in double quotes
"this is janani's pen"

"this is janani's pen"

In [3]:
#store string in variables
name= 'janani'
company= 'variablz'
name
print(company)

variablz

In [4]:
#using triple times of single quotes
print('''you are in 
Aatomz Research''')

you are in
Aatomz Research

In [5]:
#multiple classc method
print('I am janani\nworking in variablz')

I am janani
working in variablz

In [6]:
#cut line for readability
print('I am janani\n'
      'working in variablz')

I am janani
working in variablz

In [7]:
#direct number entry
5

5

In [8]:
#assigning to variablz
x=10
print(x)

10

In [10]:
#mathematical operations
5+7

12

In [12]:
#float
5.7

5.7

In [13]:
9.4+4

13.4

In [15]:
x=2.6
y=5.6
z=x+y
z

8.2

In [16]:
#rounding
x=.4
y=.3
z=x-y
print(z)

0.10000000000000003

In [17]:
round (z,2)

0.1

In [19]:
#string to integer conversion
x=10
x

10

In [20]:
#convert string to integer
x=int(x)
x

10

In [21]:
#now do the math operations
x+1

11

In [23]:
#string to float conversion 
x=11.5
x

11.5

In [24]:
x=float(x)
x

11.5

In [25]:
x+30

41.5

In [28]:
x='10.5'
x=int(x)
x

ValueError: invalid literal for int() with base 10: '10.5'

In [30]:
#wrong conversion type-1
value='10.5'
x=int(value)

ValueError: invalid literal for int() with base 10: '10.5'

In [31]:
#wrong conversion type-1
value='10a'
x=int(value)
y=float(value)

ValueError: invalid literal for int() with base 10: '10a'

In [36]:
#do the math now
x=input("enter number1:")
y=input("enter number2:")
z=x+y
print(z)

1040

In [37]:
#with integer conversion
x=input("enter number1:")
y=input("enter number2:")
z=int(x)+int(y)
print(z)

25

In [38]:
#using F-string
price=30
qty=input("how much chocolates")
qty=int(qty)

In [39]:
output=f'you have bought{qty} chocolates and the total price is {qty* price}'
print(output)

you have bought12 chocolates and the total price is 360

In [40]:
#using format
name='janani'
age=18
height=155

In [41]:
#using format() to create formatted string
info_string="name:{}, age{},height{}meters".format(name,age,height)
print(info_string)

name:janani, age18,height155meters

In [42]:
#boolean
married=False
married

False

In [43]:
passed=False
passed

False

In [44]:
#general none
x=None
x

In [45]:
#sting none
x=''
x

''

In [46]:
#integer none
x=1
x

1

In [47]:
#boolean none
x=True
x

True

In [48]:
#identify data type
type(6.)

float

In [49]:
type(6)

int

In [50]:
type('6')

str

In [53]:
type('.7')

str

In [60]:
type(False)

bool

In [62]:
type(None)

NoneType

In [64]:
#arithmetic operation
#addition
tamil=65
english=90
maths=65
science=85
social=75

In [66]:
total=tamil+english+maths+science+social
total

380

In [69]:
#subraction
income=360
expense=67
profit= income-expense
print(profit)

293

In [74]:
#multiplication
price=100
quantity=15
total_price=price * quantity
print (f' total price{total_price}')

 total price1500

In [84]:
#division
total_students =1210
section=12
split = total_students / section
print(f'students per section: {split}')

students per section: 100.83333333333333

In [85]:
#integer division
total_students= 165
section=10
split= total_students// section
print(f'students per section: {split}')

students per section: 16

In [86]:
#modulas
total_students=175
section=13
remaining=total_students%section
print(f'remaining students: {remaining}')

remaining students: 6

In [1]:
#operator precedence
value=(2*(1+1)-2)*5

print(value)

10

In [2]:
#use parentihesis to control & Better Readability
value= 2 * 1 + 1 - 2 * 5
print(value)

-7

In [4]:
#import math library
import math

In [5]:
#factorial
math.factorial(5)

120

In [8]:
#square root
math.sqrt(134)

11.575836902790225

In [9]:
#import math library
import math

In [11]:
#pi value 
math.pi

3.141592653589793

In [12]:
#eulers number
math.e

2.718281828459045

In [13]:
#import math library
import math

In [14]:
degree=30

In [15]:
#convert degree into radians
radians=math.radians(degree)

In [16]:
#sin
math.sin(radians)

0.49999999999999994

In [17]:
#cos
math.cos(radians)

0.8660254037844387

In [18]:
#tan
math.tan(radians)

0.5773502691896257

In [19]:
circles=36
radius=40
price=98

pi=3.14

area=pi * radius ** 2
total_area=area*circles
total_price_01=total_area*price
total_price_01

17724672.0

In [20]:
#using math library
import math

In [24]:
circles+50
radius=34
price=98

pi=math.pi
area=pi * radius ** 2
total_area=area*circles
total_price_02=total_area*price
total_price_02

21354284.91239283

In [25]:
#equality
x=4
y=4
x==y

True

In [26]:
x=6
y=9
x==y

False

In [27]:
#inequality
x=7
y=6
x!=y

True

In [28]:
x=7
y=7
x!=y

False

In [29]:
#greater than
x=7
y=8
x>y

False

In [30]:
x=8
y=5
x>y

True

In [31]:
#less than
x=6
y=8
x<y

True

In [33]:
x=4
y=3
x<y

False

In [34]:
#greater than or equal 
x=9
y=8
x>=y

True

In [36]:
x=5
y=6
x>=y

False

In [37]:
#less than or equal
x=9
y=7
x<=y

False

In [39]:
x=8
y=9
x<=y

True

In [40]:
#membership function
word='orange'

In [41]:
#using in  
'o'in word

True

In [43]:
#using not in 
'w'not in word

True

In [44]:
#if condition
agreed= ('do you agree for Teams? Yes or No:')

In [45]:
if agreed== 'yes':
    print ('user agreed for Teams')

In [47]:
if agreed:
    print('users agreed for Teams')

users agreed for Teams

In [75]:
#if else condition
age=input('Enter your age')
age=int(age)
print ('it is even')

it is even

In [78]:
age=input('Enter your age')
age=int(age)
print('it is odd')

it is odd

In [79]:
#ternary operator
age=input('enter your ages:')
age=int(age) 
age

16

In [81]:
print ('cartoon') if age<=10 else print('horror')

horror

In [82]:
state = input("Enter State:")

In [84]:
if state == 'Tamilnadu':
    print('Tamil Movies')
elif state == 'Karnataka':
    print('Kanada Movies')
elif state == 'Maharashtra':
    print('Hindi movies')
else:
    print('English Movies')

English Movies

In [85]:
#switch Statement
state = input('Enter the States')

In [91]:
match state:
    case 'tamilnadu':
        print('Recommend Tamil Movies')
    case 'Karnataka':
        print('Recommend kannada Movies')
    case _:
        print('Recommend English Movies')

Recommend English Movies

In [93]:
idly=input('How is today''s idly? good or bad?:')
chutney=input('How is chutney? good or bad?:')
print(idly,chutney)

good good

In [98]:
if idly =='good'and  chutney =='good':
    print('today breakfast was good')
else: 
    print('today breakfast was bad')

today breakfast was bad

In [102]:
#logical OR
lottery1= input('have you won?yes or no')
lottery2=input('have you won?yes or no')
print(lottery1,lottery2)

yes  yes

In [103]:
if lottery1 == 'yes' or lottery2 == 'yes':
    print('Happy Customer')
else:
    print('Sad Customer')

Happy Customer