In [1]:
#create a list 
books=('python', 'R Program', 'SQL' 'Dart')
books

('python', 'R Program', 'SQLDart')

In [2]:
numbers=(10,40,50,70)
numbers

(10, 40, 50, 70)

In [3]:
person=('janani',18,'female', 8754606046)
person

('janani', 18, 'female', 8754606046)

In [4]:
#add item to the list
books= []
books

[]

In [5]:
books.append('python')
books.append('R program')
books.append('SQL')
books.append('dart')
books

['python', 'R program', 'SQL', 'dart']

In [11]:
books=['dart','SQL','flutter','django','flask']
books
books.remove('django')
books.remove('SQL')
books.remove('flask') 
books

['dart', 'flutter']

In [22]:
#clear items from the list
books=['dart','SQL','flutter','django','flask']
books.clear()
books

[]

In [23]:
#replace and reset list
books=['dart','SQL','flutter','django','flask']
books

['dart', 'SQL', 'flutter', 'django', 'flask']

In [24]:
#Reset list
books=[]
books

[]

In [25]:
#Replace list
books=['Tamil','English','Maths']
books

['Tamil', 'English', 'Maths']

In [30]:
#listing index
books=['dart','SQL','flutter','django','flask']
books
books[0]
books[4]

'flask'

In [34]:
#invailding indexing
books=['dart','SQL','flutter','django','flask']
books 
books[5]

IndexError: list index out of range

In [48]:
#insert item
books=['dart','SQL','flutter','django','flask']
books
books.insert(4,'dust')
books

['dart', 'SQL', 'flutter', 'django', 'dust', 'flask']

In [40]:
#replace item
books=['dart','SQL','django','flask']
books

['dart', 'SQL', 'django', 'flask']

In [41]:
books[2]

'django'

In [49]:
#assign new items
books=['dart','SQL','flutter','django','flask']
books[4]= 'dust'
books

['dart', 'SQL', 'flutter', 'django', 'dust']

In [50]:
#find item in list
books=['dart','SQL','flutter','django','flask']
books

['dart', 'SQL', 'flutter', 'django', 'flask']

In [51]:
#membership fucntion
'SQL'in books

True

In [53]:
#total items
books=['dart','SQL','flutter','django','flask']
books
len(books)

5

In [54]:
#nested list
class_a=['janani','suganya','gopika','lavanya','geetha']
class_b=['sugan','lakshmi','gopal','keerthi']
school=[class_a,class_b]
school

[['janani', 'suganya', 'gopika', 'lavanya', 'geetha'],
 ['sugan', 'lakshmi', 'gopal', 'keerthi']]

In [57]:
#tuple
week_days=('mon','tue','wed','thu','fri') 
week_days

('mon', 'tue', 'wed', 'thu', 'fri')

In [59]:
exam_numbers=(6567354,6567346,6567357,6567358)
exam_numbers

(6567354, 6567346, 6567357, 6567358)

In [60]:
person=('janani',18,'female',8754606046)
person

('janani', 18, 'female', 8754606046)

In [64]:
#count items
fruits=('jack fruit','kiwi','mango','watermelon')
fruits
fruits.count('kiwi')

1

In [66]:
#indexing
friends=('janani','gopika','saravana','balaji')
friends
friends[3]

'balaji'

In [71]:
#get index
friends=('janani','gopika','saravana','balaji')
friends.index('balaji')
friends

('janani', 'gopika', 'saravana', 'balaji')

In [72]:
#total items
friends=('janani','gopika','saravana','balaji')
len(friends)

4

In [73]:
#create dictionary
score= {
    'Tamil':90,
    'English':83,
    'Maths':97,
    'Science':85,
    'Social':70
}

score

{'Tamil': 90, 'English': 83, 'Maths': 97, 'Science': 85, 'Social': 70}

In [75]:
students = {}

In [76]:
#add entry
students[6567354] = 'janani'
students[6567355] = 'gopika'
students[6567356] = 'saravana'
students[6567357] = 'balaji' 
students

{6567354: 'janani', 6567355: 'gopika', 6567356: 'saravana', 6567357: 'balaji'}

In [81]:
#remove entry
students={
    6567354: 'janani',
    6567355: 'gopika',
    6567356: 'saravana',
    6567357: 'balaji' 
}

students 
students.pop(6567355)

'gopika'

In [84]:
#access value
students={
    6567354: 'janani',
    6567355: 'gopika',
    6567356: 'saravana',
    6567357: 'balaji' 
}  
students[6567354]

'janani'

In [86]:
#modify values
students={
    6567354: 'janani',
    6567355: 'gopika',
    6567356: 'saravana',
    6567357: 'balaji' 
}  
students[6567356]='harinee'
students

{6567354: 'janani', 6567355: 'gopika', 6567356: 'harinee', 6567357: 'balaji'}

In [89]:
#get keys and values
students={
    6567354: 'janani',
    6567355: 'gopika',
    6567356: 'saravana',
    6567357: 'balaji' 
}  

#get keys
students.keys()
#get values 
students.values()

dict_values(['janani', 'gopika', 'saravana', 'balaji'])

In [91]:
#find key exsists
students={
    6567354: 'janani',
    6567355: 'gopika',
    6567356: 'saravana',
    6567357: 'balaji' 
}  
students

{6567354: 'janani', 6567355: 'gopika', 6567356: 'saravana', 6567357: 'balaji'}

In [92]:
6567355 in students

True

In [94]:
6567359in students.keys()

False

In [95]:
#find value exsists
students={
    6567354: 'janani',
    6567355: 'gopika',
    6567356: 'saravana',
    6567357: 'balaji' 
}  
students

{6567354: 'janani', 6567355: 'gopika', 6567356: 'saravana', 6567357: 'balaji'}

In [96]:
'gopika' in students.values()

True

In [99]:
'ramesh' in students.values()

False

In [100]:
#total items
students={
    6567354: 'janani',
    6567355: 'gopika',
    6567356: 'saravana',
    6567357: 'balaji' 
}  
students

{6567354: 'janani', 6567355: 'gopika', 6567356: 'saravana', 6567357: 'balaji'}

In [101]:
len(students)

4

In [102]:
#set
a={-5,-9,8,5,2,3}
b={1,4,3,2,2,5,6}
a.union(b)

{-9, -5, 1, 2, 3, 4, 5, 6, 8}

In [108]:
a={-5,-9,8,5,2,3}
b={1,4,3,2,2,5,6}
b.union(a)

{-9, -5, 1, 2, 3, 4, 5, 6, 8}

In [103]:
a={-5,-9,8,5,2,3}
b={1,4,3,2,2,5,6}
a.intersection(b)

{2, 3, 5}

In [106]:
a={-5,-9,8,5,2,3}
b={1,4,3,2,2,5,6}
b.intersection(a)

{2, 3, 5}

In [105]:
#difference of b
a={-5,-9,8,5,2,3}
b={1,4,3,2,2,5,6}
b.difference(a)

{1, 4, 6}

In [107]:
a={-5,-9,8,5,2,3}
b={1,4,3,2,2,5,6}
a.difference(b)

{-9, -5, 8}

In [116]:
#dictionary
#fromkeys
key=('suthan','gopika','amutha')
res=dict.fromkeys(key,'variablz student')
res

{'suthan': 'variablz student',
 'gopika': 'variablz student',
 'amutha': 'variablz student'}

In [6]:
#1.intitalize the count
count=1
#2.verify the condition
while(count<=5): 
    
    #3.do the work
    print(f'counting: {count}')
    
    #4.increment to next loop
    count+=1

counting: 1
counting: 2
counting: 3
counting: 4
counting: 5

In [26]:
#manual methods
music_directors = ['Aniruth','Ilayaraja','Yuvan','Deva']
music_directors
updated_list = []

updated_list.append(f'Mr.{music_directors[0]}')
updated_list.append(f'Mr.{music_directors[1]}')
updated_list.append(f'Mr.{music_directors[2]}')
updated_list.append(f'Mr.{music_directors[3]}')

updated_list

#automated way
music_director= ['Anirudh','Ilayaraja','Yuvan','Deva']
music_directors

updated_list = []
count=0
whilecount<len(music_directors):

updated_list.append(f'Mr. {music_directors[count]}')

count+=1

updated_list

SyntaxError: invalid syntax (2782277199.py, line 19)

In [2]:
#automated way
music_director= ['Anirudh','Ilayaraja','Yuvan','Deva']
music_director

updated_list = []
count = 0
while count<len(music_director):

    updated_list.append(f'Mr. {music_director[count]}')

count +=1

updated_list