In [1]:
'hi'

'hi'

In [3]:
#automated way
music_director= ['Anirudh','Ilayaraja','Yuvan','Deva']
music_director

updated_list = []
count = 0
while count<len(music_director):

    updated_list.append(f'Mr. {music_director[count]}')

    count +=1

updated_list

['Mr. Anirudh', 'Mr. Ilayaraja', 'Mr. Yuvan', 'Mr. Deva']

In [1]:
#gst tax calculation
price = [200,756,65]
price

total_prices = []

count = 0

while count<len(price):
     
    tax = price[count] * (18/100)
    total = price[count] + tax
    total_prices.append(total)

    count +=1

total_prices

[236.0, 892.0799999999999, 76.7]

In [2]:
price=[200,756,65]
price
total_price = []

count = 0

while count<len(price):

    tax = price[count] * (18/100)
    total = price[count] + tax
    total_price.append(total)

    print(f'Printing Process {count}')

total_prices

[200, 756, 65]

In [2]:
beverages=['cokes','pepsi','sprite','fanta','miranda']
beverages 
for beverages in beverages:
    print(beverages)

cokes
pepsi
sprite
fanta
miranda

In [3]:
#interate string
Sentence = 'My Name is Silla!'
for item in Sentence:
    print(item)

M
y

N
a
m
e

i
s

S
i
l
l
a
!

In [7]:
#range
#stop Number
numbers = range(5)
numbers 
for number in numbers:
    print(number)

0
1
2
3
4

In [13]:
#range
#start Number
numbers = range(6,16)
numbers 
for number in numbers:
    print(number)

6
7
8
9
10
11
12
13
14
15

In [17]:
#range
#stop range
numbers = (1,10,3)
numbers

(1, 10, 3)

In [16]:
for number in numbers:
    print(number)

1
10
3

In [23]:
#range
#nested loop
shopping_cart1 = ['Charger','Iphone','Pencil','Notebook']
shopping_cart2 = ['Headphone','5.1 Speaker','Carrom board']
shopping_cart3 = ['Shirt','Pant','Guitar','Tablemart']
shopping_carts = [shopping_cart1,shopping_cart2,shopping_cart3]

In [22]:
i = 0
while i<len(shopping_carts):
    j = 0
    while j<len(shopping_carts[i]):
        print(shopping_carts[i][j])
        j+=1
    i+=1

Charger
Iphone
Pencil
Notebook
Headphone
5.1 Speaker
Carrom board
Shirt
Pant
Guitar
Tablemart

In [28]:
shopping_cart1 = ['Charger','Iphone','Pencil','Notebook']
shopping_cart2 = ['Headphone','5.1 Speaker','Carrom board']
shopping_cart3 = ['Shirt','Pant','Guitar','Tablemart']
shopping_carts = [shopping_cart1,shopping_cart2,shopping_cart3]

for items in shopping_carts:
    for item in items:
        print(item)

Charger
Iphone
Pencil
Notebook
Headphone
5.1 Speaker
Carrom board
Shirt
Pant
Guitar
Tablemart

In [30]:
#while break
beverages = ['pepsi','coke','miranda','apple']
beverages 
count = 0
while count<len(beverages):
    print(beverages[count])
    if beverages[count] == 'pepsi':
        print('pepsi s available')
        break
    count+=1

pepsi
pepsi s available

In [32]:
beverages = ['pepsi','coke','miranda','apple']
beverages 
for beverage in beverages:
    print(beverage)
    if beverage == 'coke':
        print('coke is available')
        break

pepsi
coke
coke is available

In [35]:
#continue loops
#continue in while
beverages = ['pepsi','coke','miranda','apple']
beverages 
count = 0
while count<len(beverages):
    if beverages [count] == 'pepsi':
        count+=1
        continue
    
    print(f'buy {beverages[count]}')
    count+= 1

buy coke
buy miranda
buy apple

In [37]:
#continue in for
beverages = ['pepsi','coke','miranda','apple']
beverages 
for beverage in beverages:
    if beverage == 'miranda':
        continue

    print(f'buy{beverage}')

buypepsi
buycoke
buyapple

In [39]:
#else inside loops
#else in while
books = ['tamil','english','maths']
books
count = 0
while count<len(books):
    if books[count] =='marathi':
        print('marathi book found')
    count+=1
else:
    print('Book not available')

Book not available

In [42]:
#else in for
books = ['tamil','english','maths']

for book in books:
    if book == 'marathi':
        print('marathi book available')
else:
    print('book not available')

book not available

In [1]:
#exceptonal handling
#errors
if age < 30:
    print('Youngster')

NameError: name 'age' is not defined

In [2]:
#try except
try:
    if age < 30:
        print('Youngster')
except:
    print('Error Oucurred')
finally:
    print('Operation Done!')

Error Oucurred
Operation Done!

In [4]:
#name error
try:
    if age < 30: 
        print('Youngster')
except NameError:
    print('Name not defined')
except:
    print('other error')

Name not defined

In [5]:
#type error
age = input('Enter the Name')
try:
    if age < 30:
        print('Youngster')
except NameError:
    print('Name not defined')
except TypeError:
    print('Type Not Valid')
except:
    print('Other Error')

Type Not Valid

In [12]:
#exception Message
age = input('Enter the age: ')
try:
    if age<30:
        print('Youngster')
except NameError:
    print('Name not defined')
except Exception as ex:
    print(f'Other Error:\n {ex}')

Other Error:
 '<' not supported between instances of 'str' and 'int'

In [13]:
#file handling
#create file
file= open('Variablz.txt', 'x')
#if file already exist,if throws as error
file = open('Variablz', 'x')

In [14]:
#write a file
#write a text file
file =open('Variablz.txt', 'w')
file.write(''' 
Hi
I am that the New Variablz File
           
This is writing example..
           
if file doesn't exist, I create  a new one,

if file exist, I overwrite the contents
''')
file.close()

In [15]:
#writing a CSV file
file = open('students.csv', 'w')

file.write(''' 
S.No, Course, Duration, Frr
1, Python, 30, 6000
2, Java, 30, 6000
3, SQL, 30, 6000
''')

file.close()

In [16]:
#append to file
file = open('Variablz_new.txt', 'a')
file.write('''
Hi 
I am that new Variablz File
           
if file doesn't exist, I create a new file
           
if file already exist, I just add contents to the end
''')

154

In [17]:
#append to a CSV File
file = open('students.csv', 'a')

file.write('''
4, R Prgram, 30, 6000
5, Ramya, 30, 6000
6, Dust, 30, 6000
''')

file.close()

In [18]:
#Read from file
#read content
file = open('Variablz.txt', mode='r')
contents = file.read()
print(contents)
file.close()

Hi
I am that the New Variablz File

This is writing example..

if file doesn't exist, I create  a new one,

if file exist, I overwrite the contents

In [20]:
#read a single line
file=open('Variablz.txt', mode='r',)
contents = file.readline()
print(contents)
file.close()

In [22]:
#read all lines
file=open('Variablz.txt', mode='r',)
contents = file.readlines()
file.close()

contents

[' \n',
 'Hi\n',
 'I am that the New Variablz File\n',
 '           \n',
 'This is writing example..\n',
 '           \n',
 "if file doesn't exist, I create  a new one,\n",
 '\n',
 'if file exist, I overwrite the contents\n']

In [23]:
#using context Manager
#with statement
file_name = 'Variablz.txt'
#using context Manager
with open(file_name, 'w') as file:
    file.write('This file written by context Manager')

In [24]:
#file exists and delete
import os
if os.path.exists("Variablz.txt"):
    print('File Exist')
else:
    print("The file does not exist")

File Exist

In [27]:
#file delete
import os
if os.path.exists("Variablz.txt"):
    os.remove('Variablz.txt')
    print('File deleted successfully')
else:
    print("The File does not exist")

The File does not exist

In [29]:
#functions
#function definition
#run the below code repeatedly
#rectangular Area 01
length = 60
width = 40
area = length * width
print(area)

2400

In [30]:
#use the functions for reusability
def calculate_area():
    length = 60
    width = 40
    area = length * width
    print(area)

In [31]:
calculate_area()

calculate_area()

calculate_area()

2400
2400
2400

In [34]:
#arguments and parameters
#Rectangular area 01
length = 40
width = 50
area_01 = length * width
print(area_01)

length = 50
width = 40
area_02 = length * width
print(area_02)

length = 60
width = 70
area_03 = length * width
print(area_03)

2000
2000
4200

In [35]:
#Functions with parameters and arguments
def calculate_area(length,width):
    
    area = length * width
    print(area)

In [36]:
calculate_area(50,60)

calculate_area(60,70)

calculate_area(70,80)

3000
4200
5600

In [37]:
#return values
def calculate_area(length,width):
     
     area = length * width
     return area

In [41]:
area01 = calculate_area(50,60)
area02 = calculate_area(60,80)

total_area = area01 + area02
total_area

7800

In [42]:
#default parameter
def add_user(Name, mailID, phonenumber, age = 19):

    user = {
        'firstName':Name,
        'mailID':mailID,
        'phonenumber':phonenumber,
        'age':age
    }

    return user

In [44]:
#default user
add_user('janani','janani4679@gmail.com','8754696046')

{'firstName': 'janani',
 'mailID': 'janani4679@gmail.com',
 'phonenumber': '8754696046',
 'age': 19}

In [45]:
add_user('janani','janani4679@gmail.com','8754696046',19)

{'firstName': 'janani',
 'mailID': 'janani4679@gmail.com',
 'phonenumber': '8754696046',
 'age': 19}

In [26]:
#function with multiple default parameter
def add_user(Name, mailID, phonenumber, age = 19, city='pondicherry'):

   add_user = {
        'firstName':Name,
        'mailID':mailID,
        'phonenumber':phonenumber,
        'age':age,
        'city':city
    }
   return add_user

In [5]:
#without argument without return type
def acadamy_info():
    print('Variablz Software Training')
    print('Semmadalam\n Cuddalore') 
acadamy_info()

Variablz Software Training
Semmadalam
 Cuddalore

In [8]:
#within argument within return type
def add(x,y):
    return x+y
print ('add of two no' ,add (3.5,7))

add of two no 10.5

In [12]:
#without argument within return
def rect_angle():
    l,b = map (int, input('enter the length,breadth value').split(' '))
    r = l*b
    return r
ans = rect_angle()
print ('the rectangle area',ans)

the rectangle area 276

In [13]:
#within argment and without return type
def cir_area(r):
    res=3.14*r*r
    print('The circle fo area',res)
cir_area(4)

The circle fo area 50.24

In [27]:
#pass argument using keywords 
add_user('janani', 'janani4679@gmail.com', '8745686054',
         city = 'Pondicherry')

{'firstName': 'janani',
 'mailID': 'janani4679@gmail.com',
 'phonenumber': '8745686054',
 'age': 19,
 'city': 'Pondicherry'}

In [29]:
#order doesn't Matter
add_user('janani', 'janani4679@gmail.com', '8745686054',
         city = 'Pondicherry', age=19)

{'firstName': 'janani',
 'mailID': 'janani4679@gmail.com',
 'phonenumber': '8745686054',
 'age': 19,
 'city': 'Pondicherry'}

In [30]:
#arbitrary argments/Variable length arguments
#ordering food
def order_food(*items):
    cart = []

    for item in items:
        cart.append(item)

    return cart

In [31]:
lunch = order_food('chilly chiken', 'garlic chicken',
                   'butter rotti', 'Goli soda')
print(lunch)

['chilly chiken', 'garlic chicken', 'butter rotti', 'Goli soda']

In [32]:
#sum of numbers
def sum_all_numbers(*numbers):

    total = sum(numbers)
    return total

In [33]:
sum_all_numbers(1,13,4,6,9)

33

In [42]:
#docstring-user Manual
#docstring
def calculate_area(length,height):
    """
    To calculate the Rectangle Area:
    calclate-area(length of rectangle, height of rectangle)
    """

    rectangle_area = length * height

    return rectangle_area
 
#help function
help(calculate_area)

Help on function calculate_area in module __main__:

calculate_area(length, height)
    To calculate the Rectangle Area:
    calclate-area(length of rectangle, height of rectangle)

In [47]:

def jio_offer():
    '''jio_offer provide for one month package, 6 month package, 1 year package'''
    print('one month package 28 days 299')
    print('6 month package 800 rs')
    print('1 year package 3000/-')

In [48]:
help(jio_offer)

Help on function jio_offer in module __main__:

jio_offer()
    jio_offer provide for one month package, 6 month package, 1 year package

In [49]:
jio_offer()

one month package 28 days 299
6 month package 800 rs
1 year package 3000/-

In [53]:
print(jio_offer.__doc__)

jio_offer provide for one month package, 6 month package, 1 year package

In [4]:
import new
print('circle of area',new.circle(3.5))
print('rectangle of area',new.rectangle(5,3.2))

circle of area 38.48451000647496
rectangle of area 16.0

In [11]:
#importing modules
#import all modules
import new

In [12]:
new.circle(5)

78.53981633974483

In [13]:
new.rectangle(10,5)

50

In [1]:
from new import circle

In [4]:
#class
class AmazonAccount:
    message='Welcome to Amazon'

In [6]:
#object
Janani = AmazonAccount()
Gopika = AmazonAccount()

In [8]:
Janani.message

'Welcome to Amazon'

In [11]:
Gopika.message

'Welcome to Amazon'